main section h2 {
    font-size: 25px;
    background-clip: text;
    background-color: $colorTitulos;
    color: $colorPrimario;
    padding-top: 7px;
}

.imgContainer {
    @include flex (row);
    justify-content: center;
    padding: 15px;

    .img {
        transition: 2s;
    }
    .img:hover{
        transform: translateX(-300px);
    }
}

.titleGenerales {
    @include flex (row);
    justify-content: center;

}
.tituloLiga {
    @include flex (row);
    justify-content: center;
}

.parrafos {
    border: 5px;
    border-style: solid;
    border-color: $colorBordes;
    padding: 7px;
}

.conteiner {
    @include flex (row);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

    .tarjeta {
        color: $colorPrimario;
        background-color: $colorTarjeta;

        .imgNoticias {
            width: 300px;
            transition: width 2s;

        }
        .imgNoticias:hover {
            width: 450px;
        }

    }

}

#grid {
    color: $colorPrimario;
    display: grid;
    grid-template-areas:
        "section3 section3"
        "section3 section3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: space-evenly;
    margin-left: 50px;
}

    .itemVideo {
        @include flex (column);
        gap: 15px;
        align-items: center;
        margin-bottom: 20px;

        .videoNoticias {
            width: 300px;
            height: 315px;
            transition: transform 4s;
            
        }
        .videoNoticias:hover{
            transform: rotate(360deg);

            
        }
    }
       

.datos {
    @include flex (column);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.titulos {
    margin-left: 20px;
}


.tabla {
    @include flex (row);
    justify-content:center;
    width: 400px;
    height: 500px;

}
.imgVentas {
    width: 300px;
    height: 400px;
    }