header {
    display: flex;
    justify-content: space-around;
    background-color: $colorPrimario;
    color: $colorSecundario;

    div {
        justify-content: space-evenly;
        width: 130px;
        display: flex;
        align-items: center;

        .imgBotita {
            width: 40px;
        }

        h1 {
            color: $colorSecundario;
            width: 40px;
            animation: desaparecer 2s infinite;

            @keyframes desaparecer {
                to {
                    opacity: 1;
                }

                from {
                    opacity: 0;
                }
            }
        }
    }

}