header nav {
    list-style-type: none;
    display: flex;

    padding: 0;

    ul {
        display: flex;
        color: $colorPrimario;
        margin-bottom: 0px;

        li {

            margin: 30px;

            a {
                color: $colorSecundario;
                text-decoration: none;
            }
        }
    }
}