* {

    box-sizing: border-box;
    margin: 0;

}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJg-sGR8C_91wQc37m2hl0OVDLFEVYrES9KdS9mExtfrpP3SzMvWIU1yTnoi3Phow39fg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}